*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html {
	--body-color: #08f79c;
	--body-color2: #fd746c;
	--body-gradient: linear-gradient(to right, #ff9068, #fd746c);;
}

body {
	height: 100vh;
	background-color: var(--body-color);
	font-family: 'Quicksand', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: min(100vh, 100vw);
	height: min(100vh, 100vw);
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.d-block {
	display: block !important;
}

/*Computer Card*/
#computerOption {
	display: flex;
	width: 100%;
	justify-content: center;
    align-items: flex-end;
}

#computerOption > div {
	width: min(20vw, 20vh);
	height: min(25vw, 25vh);
	background-color: #f0f0f0;
	border: min(1vw, 1vh) solid gray;
	border-radius: min(3vw, 3vh);
	transition: box-shadow .3s, transform .3s;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
}

#computerOption > div .svg {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#computerOption > div .svg.piedra, #computerOption > div .svg.papel, #computerOption > div .svg.tijera {
	display: none;
}

#computerOption > div .svg.show {
	display: flex;
}

#computerOption > div span {
	display: flex;
	width: 100%;
	height: 20%;
	font-family: 'Quicksand', sans-serif;
	font-size: min(3.7vw, 3.7vh);
	font-weight: bold;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#computerOption > div .svg-wrapper {
	display: flex;
	width: 101%;
	height: 80%;
	justify-content: center;
	align-items: center;
	border-top: min(1vw, 1vh) solid grey;
}

#computerOption > div svg {
	height: 60%;
	fill: black;
	transform: rotate(180deg)
}

#computerOption > div .tijera svg {
	transform: rotate(270deg) scaleY(-1);
}

/*User Cards*/
#userOptions {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
    align-items: flex-start;
}

#userOptions button {
	width: min(20vw, 20vh);
	height: min(25vw, 25vh);
	border: min(1vw, 1vh) solid gray;
	border-radius: min(3vw, 3vh);
	transition: box-shadow .2s, transform .2s;
	cursor: pointer;
}

#userOptions button:hover {
	box-shadow: 0 min(2vw, 2vh) min(2vw, 2vh) 0 rgba(0, 0, 0, .3);
	transform: translateY(max(-2vw, -2vh));
}

#userOptions button:active {
	background-color: white;
	border: min(1vw, 1vh) solid #9f9f9f;
}

#userOptions button:active span {
	color: #404040;
}

#userOptions button:active .svg-wrapper {
	border-top: min(1vw, 1vh) solid #9f9f9f;
}

#userOptions button:active svg {
	fill: #404040;
}

#userOptions button span {
	display: flex;
	width: 100%;
	height: 20%;
	font-family: 'Quicksand', sans-serif;
	font-size: min(3.7vw, 3.7vh);
	font-weight: bold;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#userOptions button .svg-wrapper {
	display: flex;
	width: 101%;
	height: 80%;
	justify-content: center;
	align-items: center;
	border-top: min(1vw, 1vh) solid grey;
}

#userOptions button svg {
	height: 60%;
	fill: black;
}

#userOptions button#tijera svg {
	transform: rotate(90deg) scaleY(-1);
}

/*Resultado*/
#result {
	display: flex;
	justify-content: center;
	align-items: center;
}

#result span {
	font-size: min(16vw, 16vh);
	font-weight: bold;
	color: rgba(0, 0, 0, .5);
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
	z-index: -1;
}

/* Puntuación */
.score-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	display: flex;
	align-items: center;
}

.score-wrapper .score {
	display: flex;
	width: min(18vw, 18vh);
	height: min(79vw, 79vh);
	padding-left: min(2vw, 2vh);
	background-color: white;
	border: min(1vw, 1vh) solid grey;
	border-left: 0 solid transparent;
	border-radius: 0 min(8vw, 8vh) min(8vw, 8vh) 0;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 0 min(2vw, 2vh) min(2vw, 2vh) 0 rgba(0, 0, 0, .3);
	transform: translateX(max(-2vw, -2vh));
}

.score-wrapper .score > div {
	display: flex;
	font-size: min(4vw, 4vh);
	font-weight: bold;
	flex-direction: column;
	align-items: center;
}

.score-wrapper .score .v {
	color: #00bf00;
}

.score-wrapper .score .e {
	color: #ffd400;
}

.score-wrapper .score .d {
	color: #bf0000;
}

/* Menu */
.menu-wrapper {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	/*left: 0;*/
	background-color: rgba(0, 0, 0, .0);
	z-index: 1;
	transition: background-color .3s;
}

.menu-wrapper.open {
	background-color: rgba(0, 0, 0, .3);
}

#main-menu {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: min(2vw, 2vh) 0;
	width: min(50vw, 50vh);
	flex-direction: column;
	background-color: #f0f0f0;
	border-left: min(1vw, 1vh) solid grey;
	transform: translateX(min(50vw, 50vh));
	transition: transform .3s;
	box-shadow: max(-1vw, -1vh) 0 min(2vw, 2vh) 0 rgba(0, 0, 0, .3);
	overflow-y: auto;
}

.menu-wrapper.open #main-menu {
	transform: translateX(0);
}

.btn {
	display: flex;
	margin: 0 min(2vw, 2vh);
	padding: min(2vw, 2vh) min(3vw, 3vh);
	font-size: min(4vw, 4vh);
	font-weight: 700;
	border-radius: min(2vw, 2vh);
	align-items: center;
	cursor: pointer;
	transform: translateY(min(1vw, 1vh));
	transition: .3s;
}

.btn:hover {
	background-color: #fff;
	color: #303030;
	transform: translateY(0);
	box-shadow: 0 min(1vw, 1vh) min(1vw, 1vh) 0 rgba(0, 0, 0, .1);
}

.btn:active {
	transform: translateY(min(1vw, 1vh));
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	transition: .1s;
}

.btn-menu-wrapper {
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
}

#btn-menu {
	display: flex;
	width: min(9vw, 9vh);
	height: min(11vw, 11vh);
	background-color: #f0f0f0;
	border: min(1vw, 1vh) solid grey;
	border-right: 0 solid transparent;
	border-radius: min(5vw, 5vh) 0 0 min(5vw, 5vh);
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-shadow: 0 min(2vw, 2vh) min(2vw, 2vh) 0 rgba(0, 0, 0, .3);
}

/* Submenus */
.submenu {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: min(2vw, 2vh) 0;
	width: min(50vw, 50vh);
	flex-direction: column;
	background-color: #f0f0f0;
	border-left: min(1vw, 1vh) solid grey;
	transform: translateX(min(50vw, 50vh));
	transition: transform .3s;
	overflow-y: auto;
}

.submenu.open {
	transform: translateX(0);
}

.submenu h3 {
	margin: 0 min(5vw, 5vh);
	font-size: min(3.8vw, 3.8vh);
	line-height: min(8vw, 8vh);
}

#estadisticas h4 {
	margin: 0 min(5vw, 5vh);
	font-size: min(3.2vw, 3.2vh);
	line-height: min(4.2vw, 4.2vh);
	font-weight: 700;
}

#estadisticas h4:nth-child(even) {
	padding-top: min(2vw, 2vh);
}

#estadisticas .estadistica {
	display: flex;
	padding: 0 min(5vw, 5vh);
	font-size: min(3.2vw, 3.2vh);
	line-height: min(4.2vw, 4.2vh);
	font-weight: 500;
	justify-content: space-between;
}

#estadisticas .estadistica:nth-child(even) {
	background-color: #fff;
}

#opciones .btn-opciones {
	display: grid;
	padding: min(2vw, 2vh) min(3vw, 3vh);
	grid-template-columns: 1fr min(10vw, 10vh);
	cursor: pointer;
}

#opciones .btn-opciones:hover {
	background-color: #fff;
}

#opciones .btn-opciones .texto {
	padding-right: min(1vw, 1vh);
}

#opciones .btn-opciones .texto .titulo {
	display: block;
	font-size: min(2.6vw, 2.6vh);
	font-weight: 700;
}

#opciones .btn-opciones .texto .descripcion {
	font-size: min(2.6vw, 2.6vh);
	font-weight: 500;
}

#opciones .btn-opciones .valor {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#opciones .btn-opciones .valor .toggle {
	position: relative;
	width: 80%;
	height: min(4vw, 4vh);
	border-radius: min(4vw, 4vh);
	background-color: #bfbfbf;
	padding: min(0.64vw, 0.64vh);
	transition: background-color .2s;
}
#opciones .btn-opciones .valor .toggle::before {
	content: '';
	display: block;
	background-color: white;
	height: min(2.7vw, 2.7vh);
	width: min(2.7vw, 2.7vh);
	border-radius: min(2.7vw, 2.7vh);
	transition: margin-left .2s;
}

#opciones .btn-opciones .valor .toggle.active {
	background-color: #00e18b;
}


#opciones .btn-opciones .valor .toggle.active::before {
	margin-left: calc(100% - min(2.7vw, 2.7vh));
}

/* Footer */
footer {
	position: fixed;
	width: 100%;
	color: rgba(0, 0, 0, .5);
	font-size: min(3vw, 3vh);
	text-align: center;
	bottom: min(.6vw, .6vh);
}

/**** Media Queries ****/
@media screen and (orientation: portrait) {
	/* Puntuación */
	.score-wrapper {
		bottom: unset;
		align-items: unset;
		right: 0;
		justify-content: center;
	}

	.score-wrapper .score {
		padding-left: unset;
		transform: unset;
		width: min(79vw, 79vh);
		height: min(18vw, 18vh);
		border: min(1vw, 1vh) solid grey;
		border-top: 0 solid transparent;
		border-radius: 0 0 min(8vw, 8vh) min(8vw, 8vh);
		flex-direction: row;
	}

	/* Menu */
	.menu-wrapper {
		left: 0;
	}

	#main-menu {
		right: unset;
		top: 5vw;
		padding: 4vw 0;
		width: 90vw;
		border: 1vw solid grey;
		border-bottom: 0 solid transparent;
		border-radius: 10vw 10vw 0 0;
		transform: translateY(100vh);
		transition: transform .3s;
		box-shadow: 0 0 4vw 0 rgba(0, 0, 0, .3);
	}

	.d-block {
		display: flex !important;
		justify-content: center;
	}

	.menu-wrapper.open #main-menu {
		transform: translateY(0);
	}

	.btn {
		margin: 0 4vw;
		padding: 4vw 6vw;
		font-size: 8vw;
		border-radius: 4vw;
		transform: translateY(2vw);
	}

	.btn:hover {
		box-shadow: 0 2vw 2vw 0 rgba(0, 0, 0, .1);
	}

	.btn:active {
		transform: translateY(2vw);
	}

	.btn-menu-wrapper {
		flex-direction: column;
		align-items: center;
		top: unset;
		right: 0;
		bottom: 0;
		left: 0;
	}

	#btn-menu {
		width: min(14vw, 14vh);
		height: min(12vw, 12vh);
		border: min(1vw, 1vh) solid grey;
		border-bottom: 0 solid transparent;
		border-radius: min(6.5vw, 6.5vh) min(6.5vw, 6.5vh) 0 0;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		box-shadow: 0 min(2vw, 2vh) min(2vw, 2vh) 0 rgba(0, 0, 0, .3);
	}

	/* Submenus */
	.submenu {
		top: 5vw;
		right: unset;
		padding: 4vw 0;
		width: 90vw;
		border: min(1vw, 1vh) solid grey;
		border-bottom: 0 solid transparent;
		border-radius: 10vw 10vw 0 0;
		transform: translateY(100vh);
		transition: transform .3s;
	}

	.submenu.open {
		transform: translateY(0);
	}

	.submenu h3 {
		margin: 0 10vw;
		font-size: 7.6vw;
		line-height: 16vw;
	}

	#estadisticas h4 {
		margin: 0 10vw;
		font-size: 6.4vw;
		line-height: 8.4vw;
	}

	#estadisticas h4:nth-child(even) {
		padding-top: 4vw;
	}

	#estadisticas .estadistica {
		padding: 0 10vw;
		font-size: 6.4vw;
		line-height: 8.4vw;
	}

	#opciones .btn-opciones {
		padding: 4vw 6vw;
		grid-template-columns: 1fr 20vw;
	}

	#opciones .btn-opciones .texto {
		padding-right: 2vw;
	}

	#opciones .btn-opciones .texto .titulo {
		font-size: 5.2vw;
	}

	#opciones .btn-opciones .texto .descripcion {
		font-size: 5.2vw;
	}

	#opciones .btn-opciones .valor .toggle {
		height: 8vw;
		border-radius: 8vw;
		padding: 1.28vw;
		transition: background-color .2s;
	}
	#opciones .btn-opciones .valor .toggle::before {
		height: 5.4vw;
		width: 5.4vw;
		border-radius: 5.4vw;
	}

	#opciones .btn-opciones .valor .toggle.active::before {
		margin-left: calc(100% - 5.4vw);
	}

	/* Footer */
	footer {
		bottom: min(12.8vw, 12.8vh);
	}
}

/* Animaciones */
@keyframes fadeout {
	from {
		opacity: 1;
		transform: translateY(0%);
	}

	49% {
		opacity: 0;
		transform: translateY(50%);
	}

	51% {
		opacity: 0;
		transform: translateY(-50%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}
.fadeout {
	animation-name: fadeout;
}

@keyframes rotate3d {
	from {
		transform: scaleX(1);
	}

	50% {
		transform: scaleX(0);
	}

	to {
		transform: scaleX(1);
	}
}
.rotate3d {
	animation-name: rotate3d;
}